@model WebPubApp.Authorship

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Authorship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgBranch.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgBranch.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publication.ISSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publication.ISSN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
