
@{
    ViewBag.Title = "Index";
}

<h2>Entities</h2>


<p>
    @Html.ActionLink(linkText: "Journals list", actionName: "Index", controllerName: "Journals")
</p>

<p>
    @Html.ActionLink(linkText: "Keywords list", actionName: "Index", controllerName: "Keywords")
</p>

<p>
    @Html.ActionLink(linkText: "People list", actionName: "Index", controllerName: "People")
</p>

<p>
    @Html.ActionLink(linkText: "Authorships list", actionName: "Index", controllerName: "Authorships")
</p>

<p>
    @Html.ActionLink(linkText: "Organizations list", actionName: "Index", controllerName: "Organizations")
</p>

<p>
    @Html.ActionLink(linkText: "Organizations' branches list", actionName: "Index", controllerName: "OrgBranches")
</p>



