@model IEnumerable<WebPubApp.Keyword>

@{
    ViewBag.Title = "Index";
}

<h2>Keywords</h2>

<form asp-controller="Keywords" asp-action="Index">
    <p>
        Title: <input type="text" name="title" />
        <input type="submit" value="Search" />
    </p>
</form>

<p>
    @ViewBag.SearchInfo
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Word)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(x => x.Word))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
